<h1>IDEASHARE</h1>

<div id=amountOfIdeas>
  <%= @ideas.length %> ideas
</div>
<br />
<br />
<br />
<% @ideas.each do |idea| %>
  <div id=idea>
  <h2><%= idea.idea %></h2>
  <h3><%= idea.author %>  </h3>
  <h3><%= idea.email %> </h3>
  </div>
<% end %>
